/* Themify Customize Styling */
h3 {	
	font-family:Arial, Helvetica, sans-serif;	font-weight:bold;
	font-weight:bold;
	font-size:32px;
 
}
#site-description {	
	font-family:Arial, Helvetica, sans-serif;	font-weight:bold;
	font-weight:bold;
	font-size:22px;
 
}
#main-nav a {	
	font-family:Arial, Helvetica, sans-serif; 
}
#footer {	
	font-family:Arial, Helvetica, sans-serif; 
}
#footer a {	
	font-family:Arial, Helvetica, sans-serif; 
}
#footer-nav a {	
	font-family:Arial, Helvetica, sans-serif; 
}
.footer-widgets .widgettitle {	
	font-family:Arial, Helvetica, sans-serif; 
}
