.themify_builder .image-2780-0-0-2.module-image { margin-top: 5%;  } 
.themify_builder .image-2780-1-0-2.module-image { margin-top: 5%;  } 
.themify_builder .image-2780-2-0-2.module-image { margin-top: 5%;  } 
.themify_builder .image-2780-sub_row_3-0-2-0-0.module-image { margin-top: 5%;  } 
.themify_builder .image-2780-sub_row_3-0-2-1-0.module-image { margin-top: 5%;  } 
.themify_builder .image-2780-sub_row_3-0-3-0-0.module-image { margin-top: 5%;  } 
.themify_builder .text-2780-sub_row_3-0-3-1-0.module-text { margin-top: 5%;  } 
.themify_builder .image-2780-4-0-2.module-image { margin-top: 5%;  } 
.themify_builder .text-2780-5-0-1.module-text { font-family: Arial, Helvetica, sans-serif; text-align: center; margin-top: 10%;  } 
.themify_builder .text-2780-5-0-1.module-text h1 { font-family: Arial, Helvetica, sans-serif;  } 
.themify_builder .text-2780-5-0-1.module-text h2 { font-family: Arial, Helvetica, sans-serif;  } 
.themify_builder .text-2780-5-0-1.module-text h3:not(.module-title) { font-family: Arial, Helvetica, sans-serif;  } 
.themify_builder .text-2780-5-0-1.module-text h4 { font-family: Arial, Helvetica, sans-serif;  } 
.themify_builder .text-2780-5-0-1.module-text h5 { font-family: Arial, Helvetica, sans-serif;  } 
.themify_builder .text-2780-5-0-1.module-text h6 { font-family: Arial, Helvetica, sans-serif;  } 
.themify_builder .text-2780-5-0-2.module-text { font-family: Arial, Helvetica, sans-serif; margin-top: 3%; margin-right: 15%; margin-bottom: 7%; margin-left: 20%;  } 
.themify_builder .text-2780-5-0-2.module-text h1 { font-family: Arial, Helvetica, sans-serif;  } 
.themify_builder .text-2780-5-0-2.module-text h2 { font-family: Arial, Helvetica, sans-serif;  } 
.themify_builder .text-2780-5-0-2.module-text h3:not(.module-title) { font-family: Arial, Helvetica, sans-serif;  } 
.themify_builder .text-2780-5-0-2.module-text h4 { font-family: Arial, Helvetica, sans-serif;  } 
.themify_builder .text-2780-5-0-2.module-text h5 { font-family: Arial, Helvetica, sans-serif;  } 
.themify_builder .text-2780-5-0-2.module-text h6 { font-family: Arial, Helvetica, sans-serif;  } 
.themify_builder .text-2780-5-1-1.module-text { margin-top: 10%; margin-right: 16%; margin-bottom: 5%; margin-left: 10%;  } 
/* .themify_builder_2780_row.module_row_6 Style */
.themify_builder_2780_row.module_row_6.module_row {
	background-color: #f2f2f2;
	padding-top : 5%;
	padding-bottom : 5%
}

.themify_builder .image-2780-6-0-1.module-image .image-content { text-align: center;  } 
/* .themify_builder_2780_row.module_row_7 Style */
.themify_builder_2780_row.module_row_7.module_row {
	background-color: #969696
}

